.background{
     background-image: url("BG.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 0 100%;
     height: 50vh;
 }
nav{
    display: block;
}
nav h1{
    margin:0;
}

nav h1 a{
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
}
nav h1 a:hover{
    text-decoration: none;
    color: white;
}
nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    margin-bottom: 0;
}
nav ul li {
    padding: 0 1em 0 1em;
}
nav ul li a{
    color: white;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
    color: white;
}
.signin{
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: #1fcfc4;
    padding: 5px 25px 5px 25px;
}
.signin a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: smaller;
}
nav h2{
    text-transform: uppercase;
    text-align: center;
    color: white;

}
nav p{
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding-bottom: 1em;
}
.introbuttons button{
    margin: 0 20px 0 20px;
    padding: 5px 15px 5px 15px;
}
.button1, .button2{
    border-radius: 15px;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: small;
}
.button1{
    background-color: #1fcfc4;
}
.button2{
    background-color: transparent;
}

header img{
    height: 150px;
}